
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: top;
  justify-content: center;
  color: white;
}
.timesheets-card {
  color: black;
  margin-top: 200px;
  margin-right: 20px;
  width: 250px;
  height: 500px;
}
.line-item-card {
  color: black;
  margin-top: 200px;
  max-width: 500px;
  width: 100%;
  height:  500px;
}
.add-time {
  background-color: white;
}
.time-input {
  margin-right: 20px;
  width: 90px;
}
.date-input {
  margin-top: 20px;
}
.line-item-table {
  margin: 30px;
  width: 100%;
}
.sheet-name {
  max-width: 180px;
  margin-right: auto;
}
.total-time {
  margin-right: 40px;
  margin-left: 30px;
}